$greyDark: #040404;
$greyLight: #131313;
$greyLighter: #282828;
$white: #f6f6f6;

.outerWrap {
  background: $greyLighter;
  height: 100vh;
  min-height: 100%;
}

.App {
  height: calc(100vh - 90px);
  background: $greyLight;
}

.sideBar {
  width: 250px;
  height: 100%;
  background: $greyDark;
}

.musicControls {
  background: $greyLighter;
  color: $white;
  text-align: center;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
